<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    </thead>

    <tbody>
    <tr>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
    <a th:href="@{/logout}">logout</a>

</table>
</body>
</html>